#containerContent {
    margin: 7% auto auto auto;
    width: 80%;
}

#resumeFlex {
    display: flex;
    flex-direction: row;
    margin: auto auto auto 0px;
    justify-content: flex-start;
}

#resumeFlex a {
    margin-right: 24px;
}

.bulletTitle {
    font-weight: 800;
    font-size: 1.6rem;
}

.sublet {
    margin-left: 18px;
}

#projectsList {
    margin-top: 38px;
}

#summaryText {
    width: 80%;
}

.bulletSub {
    width: 80%;
}

#topImage {
    display: none;
    border-radius: 4px;
    margin-bottom: 24px;
}